@import "./config.scss";

/* -------- Forms -------- */
body{
  margin: 0;
  background: linear-gradient(#e66465, #9198e5);

}
.required:after {
    content: " *";
    font-weight: bold;
    font-size: 18px;
    color: red;
}
